[Unit]
Description=Apache Kafka Service
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'mkdir -p /tmp/zookeeper && [ ! -f '/tmp/zookeeper/myid' ] && cp /home/vagrant/myid /tmp/zookeeper/myid'
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
