[Unit]
Description=Apache Kafka Service
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service

[Service]
Type=simple
ExecStartPre=+/bin/mkdir -p /tmp/zookeeper
ExecStartPre=+/bin/cp /home/vagrant/myid /tmp/zookeeper/myid
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
PrivateTmp=no

[Install]
WantedBy=multi-user.target
