[Unit]
Description=zookeeper-server
After=network.target

[Service]
Type=forking
User=vagrant
Group=vagrant
SyslogIdentifier=zookeeper-server
WorkingDirectory=/home/vagrant/kafka_2.13-3.3.1
Restart=always
RestartSec=0s
ExecStart=/home/vagrant/kafka_2.13-3.3.1/bin/zookeeper-server-start.sh /home/vagrant/kafka_2.13-3.3.1/config/zookeeper.properties
ExecStop=/home/vagrant/kafka_2.13-3.3.1/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target